/**
 * <F>
 * @namespace #<F>
 */
#/* F */
{
    margin: 0;
    padding: 100px 20px 40px 40px;
    background: #eeeeee none top left repeat-x scroll;
}
#/* F */ span#footer_header
{
    font-size: 30px;
    color: #aaa398;
    line-height: 1.2;
    display: block;
    margin: 5px 0 20px 0;
    cursor: default;
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
}
#/* F */ p
{
    padding: 0 0 0 0;
    font-size: 15px;
    line-height: 24px;
    color: #b1aa9e;
    margin: 20px 0;
}
#/* F */ p span
{
    cursor: default;
}
#/* F */ p a,
#/* F */ p a.active,
#/* F */ p a.visited,
#/* F */ p strong
{
    color: #fffdbe;
    text-decoration: underline;
}
#/* F */ p a:hover
{
    color: #ffffff;
}
