#setup
{
    margin: 40px;
    padding: 0;
}
#setup form
{
    padding: 0;
    margin: 40px 0;
    font-size: 16px;
    line-height: 1.2;
}
#setup form input[type="text"],
#setup form input[type="password"]
{
    width: 400px;
    padding: 5px;
}
#setup form fieldset
{
    padding: 10px 20px;
    border: 1px #cccccc solid;
    margin: 20px 0;
}
#setup form fieldset legend
{
    font-weight: bold;
    color: #cccccc;
}
#setup form label
{
    font-weight: bold;
}
#setup form p
{
    margin: 5px 0;
}
#setup form div
{
    margin: 10px 0;
}
