/**
 *
 */
body
{
    background: white none top left repeat scroll;
    color: black;
    text-align: left;
    line-height: 1.5;
    position: relative;
}
body a,
body a:visited,
body a:active
{
    color: blue;
    text-decoration: underline;
}
body a:hover
{
    color: red;
    text-decoration: none;
}
body,
body input,
body textarea
{
    font-family: 'Georgia', 'Helvetica', sans-serif;
    font-size: 12px;
}
body label
{
    font-weight: bold;
}
body h1
{
    font-size: 40px;
    letter-spacing: 3px;
    color: gray;
}
body h1 a,
body h1 a:visited,
body h1 a:hover
{
    color: gray;
    text-decoration: none;
}
body h2
{
    font-size: 25px;
    margin: 5px 0 0 0;
    color: gray;
}
body h3
{
    font-size: 18px;
    line-height: 2.0;
    text-transform: lowercase;
    margin: 0 0 10px 0;
    color: gray;
}
body h3+div,
body h3+p
{
    margin: 0 0 30px 0;
}
body h2,
body h3
{
    line-height: 1.5;
    letter-spacing: 1px;
}
body h1,
body h2,
body h3
{
    font-family: 'Arial', sans-serif;
}
